.game {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 10vh);
  /* grid-gap: 15px; */
}

@media all and (max-width: 768px) {
  .game {
    padding: 10px;
    display: block;
    font-size: 0.8rem;
  }
}