.box {
  grid-column: 2;
  grid-row: 2;
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: .25rem;
  height: 250px;
  overflow: auto;
}

@media all and (max-width: 768px) {
  .inactive {
    display: none;
  }
  
  .box {
    margin-bottom: 50px;
    height: 100%;
  }
}