.game {
  padding: 10px;
  display: grid;
  grid-template-columns: 900px minmax(400px, auto);
  grid-template-rows: 7vh 28vh 10vh auto;
  grid-gap: 15px;
}

@media all and (max-width: 768px) {
  .game {
    padding: 10px;
    display: block;
  }
}