.game {
  padding: 10px;
  display: grid;
  grid-template-columns: 900px minmax(400px, auto);
  grid-template-rows: 80px 250px 100px auto;
  grid-gap: 15px;
}

@media all and (max-width: 768px) {
  .game {
    padding: 10px;
    display: block;
    font-size: 0.8rem;
  }
}