.box {
  grid-column: 10 / span 3;
  grid-row: 2 / span 8;
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: .25rem;
  /* height: 250px; */
  overflow: hidden;
  z-index: 5;
  margin-right: 60px;
  margin-bottom: 60px;
}

@media all and (max-width: 1400px) {
  .box {
    grid-column: 8 / span 4;

  }
}

@media all and (max-width: 768px) {
  .inactive {
    display: none;
  }
  
  .box {
    margin-bottom: 50px;
    height: 100%;
  }
}