.board {
  /* background: black; */
  /* grid-row: 1 / span 4; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.board table {
  table-layout: fixed;
  /* width: 100%; */
  margin: 0 auto;
  margin-top: 40px;
  background: black;
}

.structure {
  width: 65%;
}

.unit {
  width: 12.5%;
}

@media all and (max-width: 768px) {
  .board {
    padding-top: 37px;
    position: relative;
  }

  .board table {
    table-layout: fixed;
    width: 100%;
  }

  .structure {
    width: 50%;
  }

  /* .unit {
    width: 5px;
    position: relative;
    top: -3px;
  } */
}
