.board {
  background: black;
  grid-row: 1 / span 4;
}

.board table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.structure {
  width: 65px;
}

.unit {
  width: 10px;
}

@media all and (max-width: 768px) {
  .board {
    padding-top: 37px;
  }

  .structure {
    width: 50%;
  }

  .unit {
    width: 5px;
    position: relative;
    top: -3px;
  }
}
