.cell {
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  /* width: 100px; */
  height: 100px;
}

@media all and (max-width: 768px) {
  .cell {
    /* width: 43px; */
    height: 80px;
  }
}

@media all and (max-width: 414px) {
  .cell {
    /* width: 43px; */
    height: 43px;
  }
}