.enterGame {
  width: 100%;
  height: 40vh;
}

.box {
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: .25rem;
  height: 43vh;
  overflow: auto;
}

.availableGame {
  cursor: pointer;
  user-select: none;
}

.selectedGame {
  cursor: pointer;
  user-select: none;
  background: #444;
}

@media all and (max-width: 768px) {
  .inactive {
    display: none;
  }

  .box {
    height: 60vh;
  }

  .enterGame {
    height: 200px;
  }
}