.box {
  grid-column: 9 / span 4;
  grid-row: 1;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: .25rem;
  height: 40px;
  overflow: hidden;
  z-index: 5;
}

@media all and (max-width: 768px) {
  .box {
    position: fixed;
    top: 0;
    height: 50px;
    width: 95%;
  }
}