.cell {
  position: relative;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  /* width: 100px; */
  /* height: 100px; */
}

.cell:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.cell div {
  position: absolute;
  top: 0;
  right: 0;
}

@media all and (max-width: 768px) {
  .cell{
    width: auto;
  }
}