.box {
  grid-column: 1 / span 8;
  grid-row: 1;
  background: #333;
  color: white;
  height: 40px;
  padding: 5px;
  border: 1px solid white;
  border-radius: .25rem;
  overflow: hidden;
  z-index: 5;
}

@media all and (max-width: 768px) {
  .box {
    font-size: 0.8rem;
    height: 100%;
  }
}