.commands {
  grid-column: 1 / span 2;
  grid-row: 2 / span 6;
  overflow: hidden;
  color: white;
}

.box {
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: 0.25rem;
  background: #333;
  /* height: 43vh; */
}

.logbox {
  color: white;
  border-radius: 0.25rem;
  max-height: 300px;
  overflow: auto;
}

.logboxContainer {
  margin-right: 15px;
}

@media all and (max-width: 768px) {
  .inactive {
    display: none;
  }

  .logbox {
    max-height: 140px;
  }

  .logboxContainer {
    margin: 15px;
  }

  .box {
    height: 100%;
    margin-bottom: 50px;
  }
}
