.menu {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: black;
  border-top: 1px solid white;
  color: white;
  text-align: center;
}

@media all and (max-width: 768px) {
  .menu {
    display: inline;
  }
}
